
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  text-align: center;
  padding-top: 160px;
  background-image: url('https://i.ibb.co/y4NhyWK/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

h1 {
  color: rgba(21, 23, 24, 1);
  height: 86px;
  font-size: 64px;
  line-height: 86px;
  font-weight: 700;
  margin-bottom: 4px;
  font-family: 'Cinzel', serif;
}

h1 span {
  color: rgba(219, 39, 119, 1);
}

p {
  font-family: 'Inter', sans-serif;
  margin-bottom: 72px;
  color: rgba(44, 46, 47, 0.9);
  opacity: .9;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  font-family: 'Cinzel', serif;
  margin: 20px;
  padding: 16px 32px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}


#readMore {
  color: black;
}

#travelNow {
  color: white;
  background: #DB2777;
  border-radius: 80px;
}

#readMore:hover {
  color: white;
  background-color: #DB2777;
}
